#跳转到第一集{
  position: absolute;
  top: 400px;
  left: 200px;
  width: 70px;
  height: 40px;
}
#跳转到第一集:hover{
  cursor: pointer;
  background-color: rgb(124, 128, 134);
  border: 1px;
}
#决战中途岛第一季图片{
  position: absolute;
  left: 200px;
  top: 40px;
  width: 250px;
  height: 300px;
}
#决战中途岛第一季图片:hover{
}
