#myhr{
  position: absolute;
  width: 100%;
  top: 26pc
}
#huanlexijuren{
  position: absolute;
  top: 28pc;
  left: 100px;
  height: 190px;
  width: 145px;
  border-color: black;
  border: 5px;
  border-width: 150px;
  
}
#huanlexijuren:hover{
  cursor: pointer;
}
#serch{
  height: 40px;
  width: 17pc;
  position: absolute;
  top: 25px;
  right: 400px;
}
#serchbtn{
  height: 46px;
  width: 61px;
  position: absolute;
  top: 25px;
  right: 340px;
}
